
.popup-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 240px; /* Set the height of the pop-up form */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px; /* Increase the border radius for a more rounded look */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase the box shadow for a subtle effect */
  z-index: 99;
}

.popup-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
}

.popup-close p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
  
  
  /* Pop-up form title */
  .popup-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  /* Text input fields */
  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Button container */
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  /* Buttons */
  button {
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color: #a2c7d5;
    font-size: 18px;
    
  }

  .open-join-form-button{
    margin-left: 8px;
  }
  
  .create-button {
    background-color: #00539c;
  }
  
  .join-button {
    background-color: #4CAF50;
  }
  
  /* Add these styles to create the animated effect */
.form-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .form-group label {
    position: absolute;
    top: 20px;
    left: 12px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    color: #888;
  }

  .popup-content {
    position: relative;
  }
  
  .form-group input[type="text"]:focus + label,
  .form-group input[type="text"]:valid + label {
    top: 0;
    font-size: 14px;
    color: #000;
  }
  
  .error-message {
    display: none;
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  